[Unit]
Description=MariaDB database update script
After=github_scrape.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=github_scrape
ExecStart=/bin/bash /home/github_scrape/update_db.sh

[Install]
WantedBy=multi-user.target