[Unit]
Description=Github info scrape service
After=mariadb.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=github_scrape
ExecStart=/usr/bin/python3 /home/github_scrape/github_scrape.py

[Install]
WantedBy=multi-user.target