/*
Colour Palette
Nav Bar: #393e46
Nav Buttons: #bbe4e9
Main Background: #fafafa 
*/

* {
    font-family: sans-serif;
}

body {
    margin: 0px;
    background-color: #fafafa;
}

nav {
    display: inline-flex;
    background-color: #393e46;
    width: 100%;
    justify-content: center;
}

nav a {
    background-color: #bbe4e9;
    margin: 10px 20px;
    padding: 3px;
    border-radius: 5px;
    color: #393e46;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    /* background-color: #9fd9e0; */
    background-color: #9fd9e0;
}

.content {
    display: flex;
    margin: 10px;
    flex-direction: column;
    text-align: center;
}

.content h2 {
    color: #f74040;
}

.login-div {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    width: 30%;
    max-width: 180px;;
    background-color: #e4f1fe;
    border-radius: 5px;
}

.login-form * {
    margin: 1px 0px;
}

.search {
    margin: 20px auto;
    width: 70%;
    padding: 10px;
    background-color: #e4f1fe;
    border-radius: 7px;
    text-align: center;
}

.search * {
    margin: 3px 5px;
}

#search-status-span {
    opacity: 60%;
    border-radius: 5px;
    padding: 2px;
}

#results {
    background-color: #bbe4e9;
    border-radius: 10px;
    opacity: 95%;
    width: 35%;
    min-width: 350px;
    margin: 10px auto;
}

#results li {
    padding: 2px 0px;
}

#results li * {
    margin: 0px 2px;
}

#results li a {
    text-decoration: none;
}

#search-results {
    display: flex;
    flex-direction: column;
}

#search-results a:link {
    color: #f74040;
}

#repo-name {
    background-color: #bbe4e9;
    border-radius: 10px;
    opacity: 95%;
    width: 35%;
    min-width: 350px;
    margin: 10px auto;
    text-align: center;
}

#repo-name a {
    text-decoration: none;
}
