[Unit]
Description=Github info scrape service
After=mariadb.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=github_scrape
ExecStart=/bin/bash /home/github_scrape/github_scrape.sh

[Install]
WantedBy=multi-user.target